@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'MyWebFont';
  src:  url('los_andes__lota_grotesque_alt_1_black-webfont.woff') format('woff');
}

body {
  min-height: 100vh;
  display: flex;  
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #defe11;;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  max-width: 1200px;
  margin: auto;
  background-color: #defe11;
}

#form {
  background: #fff;
  max-width: 500px;
  max-height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 3px 3px 40px #f5f5f5;
  position: relative;
}

#form input,
#form select {
  margin: 1rem 0;
  padding: 1.5rem 0.50rem;
  outline: none;
  border: 1px  #ccc;
  border-radius: 5px;
  position: relative;
  width: 100%;
  background-color: #f5f5f5;
}

#form h1 {
  color:#00573f;
  font-weight: bolder;
  white-space: nowrap;
  font-family: 'MyWebFont';
  font-size: 1.5rem; 
  text-align: left;
  
}

#form h4 {
  color:#555;
  font-size: .90rem;
}

.mt {
  margin-top: 8rem;
}

#form .input-container {
  position: relative;
  font-size: 2rem;
  color: #333;
}

#form .radioButtons{
  display: grid;
  grid-gap: 0rem;
  
}





#form .input-grp {
  display: grid;
  grid-gap: 0rem;
}

.modal-header {
  padding:9px 15px;
  border-bottom:1px solid #eee;
  background-color: #00573f;
  color: #defe11;
  font-size:2rem;
  font-family: 'MyWebFont';
  font-weight: bolder;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 10px;
}

#form button {
  width: 100%;
  padding: 1rem 0.5rem;
  margin-top: 1.5rem;
  outline: none;
  border: none;
  border-radius: 7px;
  background-color: #00573f;
  color: rgb(139, 151, 58);
  font-size:2rem;
  letter-spacing: 1px;
  font-size: 1.5rem;
  cursor: pointer;
  position: relative;
  z-index: 9;
  font-family: 'MyWebFont';
}

#form button:before {
  border-radius: 7px;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #000000;
  color: #00573f;
  z-index: -1;
  opacity: 90%;
}

#formTest button{
  width: 100%;
  padding: 1rem 0.5rem;
  margin-top: 1.5rem;
  outline: none;
  border: none;
  border-radius: 7px;
  background-color: #00573f;
  color: #7a862f;
  font-size:2rem;
  letter-spacing: 1px;
  font-size: 1.5rem;
  cursor: pointer;
  position: relative;
  z-index: 9;
  font-family: 'MyWebFont';
}

#form button:hover:before {
  width: 100%;
  transition: .2s all;
}



#card {
  height: 200px;
  width: 100%;
  max-width: 385px;
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 15px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("https://images.pexels.com/photos/924824/pexels-photo-924824.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-position: center;
  color: #eee;
  filter: drop-shadow(1px 3px 10px #222);

  animation: fadeIn .2s linear 1;
}

@keyframes fadeIn {
  from {
    top: -150px;
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#card .header {
  display: flex;
  justify-content: space-between;
  height: 70px;
}

#card .sticker {
  width: 50px;
  height: 40px;
  background-image: url("https://images.pexels.com/photos/728471/pexels-photo-728471.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-position: center;
  background-size: cover;
  object-fit: contain;
  border-radius: 5px;
}

#visa .logo {
  max-width: 70px ;
  float:right; 
  position: relative;   
  margin-right: -50px;  
}

#mastercard .logo { 
  max-width: 45px ;
  float:right; 
  position:relative; 
  margin-right: -0px;  
  margin-top: 5px;
} 

  .image1 { 
    max-width: 50px ;
    position: relative; 
    float: right;
    margin-right: 0px;   
  } 

#card .body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60%;
}

#card .footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}

